@font-face {
  font-family: first_font;
  src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
* {
  font-family: first_font;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  .bottom_grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .menu {
    justify-content: space-evenly;
  }
  .mig_mobile_img {
    display: none;
  }
  .home_mid {
    justify-content: space-evenly;
  }
}
@media (min-width: 1024px) {
  .bottom_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .desktop {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .menu_box a {
    display: none;
  }
  .menu_burger {
    display: block;
  }
  .mig_mobile_img {
    display: block;
    height: 300px;
    width: auto;
  }
  .menu {
    justify-content: space-between;
  }
  .home_mid {
    justify-content: space-between;
  }
}
@media screen and (min-width: 425px) {
  .menu_burger {
    display: none;
  }
}
a {
  font-size: 15px;
}

.mid_padding {
  padding: 0rem 0rem 1rem 0rem;
}

.menu {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}
.menu div {
  align-items: center;
  display: flex;
}

.menu_box {
  padding: 0.5rem;
}
.menu_box a {
  color: hsl(233deg, 2%, 49%);
  padding: 0.5rem;
  text-decoration: none;
}
.menu_box a:hover {
  color: hsl(5deg, 85%, 63%);
}

.home_mid {
  display: flex;
  flex-wrap: wrap;
}

.mid_left {
  font-size: 4rem;
  font-style: inherit;
}

.mid_side {
  align-content: center;
  background-color: hsl(240deg, 100%, 5%);
}
.mid_side div {
  font-size: 15px;
  padding: 1rem;
  color: hsl(233deg, 8%, 79%);
}
.mid_side div a {
  font-size: 3rem;
  color: hsl(35deg, 77%, 62%);
}
.mid_side div h1 {
  color: hsl(35deg, 77%, 62%);
}
.mid_side div h3:hover {
  color: hsl(35deg, 77%, 62%);
}
.mid_side div h3 {
  color: white;
}

.mid_button {
  height: 3rem;
  width: 8rem;
  background-color: hsl(5deg, 85%, 63%);
  border-color: white;
  color: white;
}

.mid_button:hover {
  background-color: hsl(240deg, 100%, 5%);
}

.bottom_grid {
  display: grid;
  padding: 1rem;
  gap: 1rem;
}
.bottom_grid a {
  color: hsl(233deg, 8%, 79%);
  font-size: 2rem;
}
.bottom_grid p {
  color: hsl(233deg, 8%, 79%);
}
.bottom_grid b:hover {
  color: hsl(5deg, 85%, 63%);
}

.bottom_padding {
  padding: 1rem;
}

.test {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 75vw;
  background-color: white;
  padding: 1.25rem;
  opacity: 1;
  z-index: 99999999999;
  display: block;
}
.test li {
  padding: 2rem;
  list-style: none;
}
.test li:hover {
  color: hsl(5deg, 85%, 63%);
}

.side_ul {
  display: none;
}

.close_img {
  float: right;
}/*# sourceMappingURL=style.css.map */